.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 320px;
  text-align: center;
  max-width: 200px;
  width: 100%;
  transition: transform 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .card {
    width: 250px;
  }
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.details {
  margin-top: 10px;
}

.statusSpecies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.statusIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.statusAlive {
  background-color: green;
}

.statusDead {
  background-color: red;
}

.statusUnknown {
  background-color: gray;
}
